# تجاهل ملفات Unity من إحصائيات GitHub
MonoBleedingEdge/** linguist-vendored
**/MonoBleedingEdge/** linguist-vendored

# تجاهل ملفات ASP.NET
*.aspx linguist-detectable=false
*.asmx linguist-detectable=false

# تجاهل ملفات Unity الأخرى
*.meta linguist-detectable=false
*.unity linguist-detectable=false
*.asset linguist-detectable=false

# تعزيز C# للألعاب
*.cs linguist-detectable=true
*.cs linguist-language=C#
